{{#with book as |book|}}
<section class='singleBook' data-id="{{book.id}}">
  <h3 class='title'>
    {{book.title}}
  </h3>
  <h6>Author:
    {{#if book.author}}
      {{book.author}}
    {{else}}
      No author provided.
    {{/if}}
  </h6>
  <div class='individualBookRating'>
  </div>
  <h5> {{book.review}} </h5>
  <button type="button" class="btn btn-light text-center" id='updateBook'> Update Book </button>
  <button type="button" class="btn btn-light text-center" id='destroyBook'> Delete Book </button>
  <button type="button" class="btn text-center" id='favoriteBook'> Favorite </button>

</section>
{{/with}}
